<!DOCTYPE html>
<html>
<head>
	<title>Result Page</title>
</head>
<body>
	<h1>Submitted Information</h1>

	<form>
		<div>Name: <%= info.name %></div>
		<div>Location: <%= info.location %></div>
		<div>Language: <%= info.language %></div>
		<div>Comment: <%= info.comment %></div>
	</form>
	<button><a href="/">Go back</a></button>

</body>
</html>