<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var socket = io.connect();
			var current_user;

			var start = function(){
				var name = prompt("Enter your name");
				socket.emit("check_user", {user: name});
			}
			start();

			socket.on('existing_user', function(data){
				$('#error').html(data.error);
				start();
			});

			socket.on('load_messages', function(data){
				current_user = data.response.user;
				output = '';
				for (var i = 0; i < data.response.length; i++){
					output += "<div>" + data.response[i].user + ": " + data.response[i].message + "</div>";
				}
				$("#results").html(output);
			})

			$('form').submit(function(e){
				e.preventDefault();
				socket.emit('add_message', {user: current_user, message: $('#message').val()})
			})

			socket.on('response_add_message', function(data){
				console.log(data);
				$('#results').append('<div>' + data.response.user + ": " + data.response.message + "</div>");
			})


		})
	</script>
</head>
<body>
	<div id="error"></div>
	<div>Conversation Board</div>
	<div id="results"></div>
	<form>
		<input type="text" name="message" id="message">
		<input type="submit">
	</form>
</body>
</html>