<!DOCTYPE html>
<html>
<head>
	<title>Minh PHm</title>
</head>
<body>
	<%= title %>
	<form action="/users" method="post">
		Name: <input type="text" name="name">
		Email: <input type="text" name="email">
		<input type="submit" value="Create user">
	</form>
	<button><a href="/users/1">Click me</a></button>

</body>
</html>